.input-field label.active, .input-field .prefix.active {
    color: #565A5C !important;
}

.input-field input:focus, .input-field textarea:focus {
    border-color: #565A5C !important;
}


@media only screen and (max-width: 600px) {
    .small-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    #logo {
        width: 45px;
        height: 45px;
        margin: 5px 0 0 20px;
    }
}

@media only screen and (min-width: 600px) {
    .small-container {
        margin-left: 30%;
        margin-right: 30%;
    }

    #logo {
        width: 45px;
        height: 45px;
        margin: 10px 0 0 20px;
    }
}

.loader {
    border: 16px solid #cfb87c;
    border-radius: 50%;
    border-top: 16px solid #3e3e3e;
    border-bottom: 16px solid #3e3e3e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    left: calc(50% - 60px);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.clearfix {
    overflow: auto;
}

#alert {
    padding: 20px;
    color: white;
}

#gpatrend {
    max-width: 500px;
    float: right;
}