<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>MyCUEverything</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link rel="icon" href="{{ url_for('static', filename='cu.png') }}" type="image/png">
</head>
<body>
<nav class="lighten-1" style="background-color:#585A5C" role="navigation">
    <div class="nav-wrapper">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='cu.png') }}" id="logo" alt="MyCUEverything">
        </a>
        <ul class="right">
            {% if request.path == "/dash" %}
            <li>
                <a href="{{ url_for('logout') }}" class="btn black">Log Out</a>
            </li>
            {% endif %}
            <li>
                <a class="btn waves-effect waves-light"
                        style="background-color:mediumslateblue; margin-right:20px" href="javascript:t9Hackify()">T9Hackify
                </a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/t9hackify.js') }}"></script>

{% block js %}
{% endblock %}
</body>
</html>