{% extends 'base.html' %}

{% block body %}
    <div class="section container">
        <a href="{{ url_for('logout') }}" class="btn black">Log Out</a>

        <div class="container">
            <br>
            <h2 class="header center text">Jessica Sanborn</h2>
        </div>

        <ul class="expandable collapsible">
            <li>
                <div class="expandable collapsible-header"><i class="material-icons">info</i>Student Info</div>
                <div class="expandable collapsible-body">
                    <p>Student ID: {{ 107422251 }}</p> <!-- everything.student_id -->
                    <p>GPA: {{ 4.0 }}</p> <!-- everything.gpa  -->
                </div>
            </li>
            <li>
                <div class="expandable collapsible-header"><i class="material-icons">fastfood</i>Meal Plan</div>
                <div class="expandable collapsible-body">
                    <p>Meal Swipes: {{  }}</p> <!-- everything.meal_swipes -->
                    <p>Munch Money: {{ everything.munch_money }}</p>
                    <p>Campus Cash: {{ everything.campus_cash }}</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/collapsibles.js') }}"></script>
{% endblock %}