{% extends 'base.html' %}

{% block body %}
    <div class="section container">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">info</i>Student Info</div>
                <div class="collapsible-body">
                    <p>Student ID: {{ everything.student_id }}</p>
                    <p>GPA: {{ everything.gpa }}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">fastfood</i>Meal Plan</div>
                <div class="collapsible-body">
                    <p>Meal Swipes: {{ everything.meal_swipes }}</p>
                    <p>Munch Money: {{ everything.munch_money }}</p>
                    <p>Campus Cash: {{ everything.campus_cash }}</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/collapsibles.js') }}"></script>
{% endblock %}