{% extends 'base.html' %}

{% block body %}
    <div class="section">
        <div class="container">
            <br><br>
            <h1 class="header center text">MyCUEverything</h1>
            <div class="row center">
                <h5 class="header col s12 light">Everything you need in once place.</h5>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <form action="{{ url_for('login') }}" method="post">
                <div class="input-field">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="username" name="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">textsms</i>
                    <input type="password" id="password" name="password">
                    <label for="password">Password</label>
                </div>
                <input type="submit" value="Submit" class="btn-large black white-text">
            </form>
            <br><br>
        </div>
    </div>
{% endblock %}