{% extends 'base.html' %}

{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center text">MyCUEverything</h1>
            <div class="row center">
                <h5 class="header col s12 light">Inspired by our "dislike" of myCUInfo.</h5>
            </div>
            <div class="row center">
                <a href="{{ url_for('login') }}" id="download-button" class="btn-large waves-effect waves-light"
                   style="background-color:#585A5C">Get Started</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center text" style="color:#585A5C"><i class="material-icons">school</i></h2>
                        <h5 class="center">CU</h5>

                        <p class="light">Keep track of all your CU related things like GPA and meal swipes!</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center text" style="color:#585A5C"><i class="material-icons">message</i></h2>
                        <h5 class="center">Text Notifications</h5>

                        <p class="light">Receive a notification if you are low on meal swipes.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center text" style="color:#585A5C"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to Use</h5>

                        <p class="light">Everything you need all in one place.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}