{% extends 'base.html' %}

{% block body %}
    <div class="hide" id="alert">
        <span class="closebtn" onclick="this.parentElement.className='hide';">&times;</span>
        <strong id="alert-text">Successfully logged out!</strong>
    </div>

    <div class="section">
        <div class="container center">
            <br><br>
            <h1 class="center">MyCU<wbr>Everything
            </h1>
            <h5 class="light">Everything you need in once place.</h5>
        </div>
    </div>

    <div class="hide" id="loader"></div>

    <div class="section" id="form">
        <div class="small-container">
            <form action="{{ url_for('login') }}" method="post">
                <div class="input-field">
                    <i class="material-icons prefix">face</i>
                    <input type="text" id="username" name="username">
                    <label for="username">IdentiKey</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">security</i>
                    <input type="password" id="password" name="password">
                    <label for="password">Password</label>
                </div>
                <input type="submit" value="Submit" class="btn-large black white-text" id="form-submit">
            </form>
            <br><br>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}